/* CSS Document */

.footer{
	width:100%;
	background:#222222;
	margin:0 auto;
	text-align:center;
}
.footer .logo_1{
	margin-left:0px;
	margin-top:30px;
}
.footer a{
	text-align:center;
	margin-left:10px;
	color:#aaaaaa;
}
.footer a:hover{
	color:#008CD6;
}
.footer p{
	color:#aaaaaa;
}
.0101:hover{
	color:#C03;
}