body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:412px;
  font-size:72px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:413px;
}
#u1 {
  position:absolute;
  left:2px;
  top:164px;
  width:1345px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:412px;
  width:570px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:566px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:442px;
  width:570px;
  height:508px;
  font-size:72px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:509px;
}
#u5 {
  position:absolute;
  left:2px;
  top:212px;
  width:566px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:400px;
  top:442px;
  width:390px;
  height:506px;
  font-size:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:507px;
}
#u7 {
  position:absolute;
  left:2px;
  top:224px;
  width:386px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:790px;
  top:442px;
  width:170px;
  height:274px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:275px;
}
#u9 {
  position:absolute;
  left:2px;
  top:120px;
  width:166px;
  word-wrap:break-word;
}
