body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:81px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:28px;
  width:95px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:398px;
  top:0px;
  width:553px;
  height:80px;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:81px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:549px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1150px;
  top:24px;
  width:126px;
  height:32px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:80px;
  width:1349px;
  height:51px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:52px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:1345px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:131px;
  width:1349px;
  height:1000px;
  font-size:72px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1001px;
}
#u11 {
  position:absolute;
  left:2px;
  top:458px;
  width:1345px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:1131px;
  width:1349px;
  height:1100px;
  font-size:72px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1101px;
}
#u13 {
  position:absolute;
  left:2px;
  top:508px;
  width:1345px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:2231px;
  width:1349px;
  height:1100px;
  font-size:72px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1101px;
}
#u15 {
  position:absolute;
  left:2px;
  top:508px;
  width:1345px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:3331px;
  width:1349px;
  height:350px;
  font-size:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:351px;
}
#u17 {
  position:absolute;
  left:2px;
  top:134px;
  width:1345px;
  word-wrap:break-word;
}
